<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Exame</title>
    <link rel="stylesheet" href="./../../../src/style/message.css">
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/exam/addexam.css">
</head>
<body>


<div th:if="${message}" class="errorMessage" role="alert">
    <p th:text="${message}"></p>
    <button class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
</div>
<div th:if="${messageSucess}" class="sucessMessage" role="alert">
    <p th:text="${messageSucess}"></p>
    <button class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
</div>

<main>
    <h1>Registrar Exame</h1>

    <form action="/dentist/exam/add" method="post" enctype="multipart/form-data">
        <div>
            <label for="description">Observação:</label>
            <textarea id="description" name="description" rows="3" required></textarea>
        </div>
        <div>
            <label for="tooth">Tipo de Dente:</label>
            <select id="tooth" name="tooth" required>
                <option value="" disabled selected>Selecione o dente</option>
                <option th:each="tooth : ${T(com.sync.sysodontologico.enums.ToothEnum).values()}"
                        th:value="${tooth}"
                        th:text="${#strings.replace(tooth.description, '_', ' ')}"></option>
            </select>
        </div>
        <div>
            <label for="examType">Tipo de Exame:</label>
            <select id="examType" name="examType" required>
                <option value="" disabled selected>Selecione o tipo</option>
                <option th:each="type : ${T(com.sync.sysodontologico.enums.TypeExam).values()}"
                        th:value="${type}"
                        th:text="${#strings.replace(type, '_', ' ')}"></option>
            </select>
        </div>

        <div>
            <label for="media">Upload de Mídia (Imagem/Vídeo):</label>
            <input type="file" id="media" name="mediaFile" accept="image/*,video/*" >
        </div>

        <div>
            <label for="patient">Paciente:</label>
            <select id="patient" name="patients" required>
                <option value="" disabled selected>Selecione o paciente</option>
                <option th:each="patient : ${patients}"
                        th:value="${patient.id}" th:text="${patient.name}"></option>
            </select>
        </div>

        <div>
            <label for="dentist">Dentista:</label>
            <select id="dentist" name="dentist" required>
                <option value="" disabled selected>Selecione o dentista</option>
                <option th:each="dentist : ${dentists}"
                        th:value="${dentist.id}" th:text="${dentist.name}"></option>
            </select>
        </div>

        <div>
            <button type="submit">Salvar Exame</button>
        </div>
    </form>
</main>
</body>
</html>