<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exames do Paciente</title>
    <link rel="stylesheet" href="./../../../src/style/message.css">
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/exam/viwexam.css">
</head>
<body>
<style>
    div[th\\:if='${patients.isEmpty()}'] {
        text-align: center;
        padding: 20px;
        font-size: 18px;
        color: #777;
    }
</style>
<header>
    <h1>Exames do Paciente</h1>
</header>

<main>
    <section>
        <div th:if="${patients.isEmpty()}">
            <p>Não há exames registrados para este paciente.</p>
        </div>
        <div th:unless="${patients.isEmpty()}">
            <table>
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Tipo de Exame</th>
                    <th>Dente</th>
                    <th>Dentista</th>
                    <th>Anexo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exam : ${patients}">
                    <td th:text="${#temporals.format(exam.date, 'dd/MM/yyyy')}"></td>
                    <td th:text="${exam.description}"></td>
                    <td th:text="${exam.examType.getDescription()}"></td>
                    <td th:text="${exam.getTooth().getDescription()}"></td>
                    <td th:text="${exam.getDentist().getName()}"></td>
                    <td>
                        <button type="button" class="button-view-image"
                                th:if="${exam.getMediaPatch() != null}"
                                th:data-image="${exam.getMediaPatch()}"

                                th:data-description="${exam.description}"
                                onclick="openModal(this.dataset.image, this.dataset.description)">
                            Visualizar imagem
                        </button>
                        <p disabled th:unless="${exam.getMediaPatch() != null}" >
                            Sem anexo
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage" alt="Imagem do Exame">
        <div id="caption"></div>
    </div>
</main>

<footer>
    <p>© 2024 - Sistema SysOdontologico</p>
</footer>

<script src="./../../../src/js/viwexam.js">

</script>
</body>
</html>
