<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="./../../../src/style/message.css">
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/patient/patient.css">
</head>
<body>

<div class="container">
        <h2>Lista de Pacientes</h2>
        <input type="text" id="searchInput" placeholder="Buscar paciente..."
               style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 4px;">

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>

                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.id}"></td>
                <td th:text="${paciente.name}"></td>
                <td th:text="${paciente.cpf}"></td>

                <td>
                    <button class="btn-show-details btn-details" th:data-id="${paciente.id}" th:data-name="${paciente.name}"
                            th:data-cpf="${paciente.cpf}" th:data-gender="${paciente.gender}"
                            th:data-dateOfBirth="${paciente.dateOfBirth}"
                            th:data-telephone="${paciente.telephone}" th:data-email="${paciente.email}"
                            th:data-address="${paciente.address}">Ver Detalhes
                    </button>

                    <a th:href="@{/patient/exam/add/{idPatient}(idPatient=${paciente.id})}">
                        <button type="button" class="btn-details">Anexa exame</button>
                    </a>
                    <a th:href="@{/patient/viwer/exam/{idPatient}(idPatient=${paciente.id})}">
                        <button type="button" class="btn-details">Visualizar exames</button>
                    </a>
                    <a th:href="@{/patient/consult/add/{idPatient}(idPatient=${paciente.id})}">
                        <button type="button" class="btn-details">Agenda consultar</button>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div id="patientModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Detalhes do Paciente</h2>
            <p><strong>ID:</strong> <span id="modalId"></span></p>
            <p><strong>Nome:</strong> <span id="modalName"></span></p>
            <p><strong>CPF:</strong> <span id="modalCpf"></span></p>
            <p><strong>Gênero:</strong> <span id="modalGender"></span></p>
            <p><strong>Data de Nascimento:</strong> <span id="modalDateOfBirth"></span></p>
            <p><strong>Telefone:</strong> <span id="modalTelephone"></span></p>
            <p><strong>Email:</strong> <span id="modalEmail"></span></p>
            <p><strong>Endereço:</strong> <span id="modalAddress"></span></p>
        </div>
    </div>
</div>

<script src="../../../src/js/viwpatient.js"></script>
</body>
</html>
