<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Dentistas</title>
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/dentist/viwdentist.css">
</head>
<body>


<div class="container">
    <h2>Lista de Dentistas</h2>
    <input type="text" id="searchInput" placeholder="Buscar dentista..." style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 4px;">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="dentist : ${dentist}">
            <td th:text="${dentist.id}"></td>
            <td th:text="${dentist.name}"></td>
            <td th:text="${dentist.cpf}"></td>
            <td th:text="${dentist.email}"></td>
            <td th:text="${dentist.phone}"></td>
            <td>
                <button class="btn-show-details btn-details"
                        th:data-id="${dentist.id}" th:data-name="${dentist.name}"
                        th:data-cpf="${dentist.cpf}" th:data-email="${dentist.email}"
                        th:data-phone="${dentist.phone}"
                        th:data-dateOfBirth="${dentist.dateOfBirth}"
                        th:data-address="${dentist.address}">Ver Detalhes</button>
                <a th:href="@{/hisotory/dentist/{idDentist}(idDentist=${dentist.id})}">
                    <button class=" btn-details"
                            th:data-id="${dentist.id}">Ver historico
                    </button>
                </a>
            </td>

        </tr>
        </tbody>

    </table>
    <style>
        .back-button {
            display: inline-block;
            text-align: center;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-top: 20px;
            width: 100%;
        }

    </style>
    <a href="javascript:history.back()" class="back-button">Voltar</a>
</div>

<div id="dentistModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Detalhes do Dentista</h2>
        <p><strong>ID:</strong> <span id="modalId"></span></p>
        <p><strong>Nome:</strong> <span id="modalName"></span></p>
        <p><strong>CPF:</strong> <span id="modalCpf"></span></p>
        <p><strong>Email:</strong> <span id="modalEmail"></span></p>
        <p><strong>Telefone:</strong> <span id="modalPhone"></span></p>
        <p><strong>Data de Nascimento:</strong> <span id="modalDateOfBirth"></span></p>
        <p><strong>Endereço:</strong> <span id="modalAddress"></span></p>
    </div>
</div>

<script src="./../../../src/js/viwdentis.js">

</script>
</body>
</html>
