<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Histórico do Dentista</title>
    <link rel="stylesheet" href="./../../../src/style/message.css">
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/history/dentist.css">
</head>
<body>


<div class="container">
    <h1>Pesquisar Histórico do Dentista</h1>

    <div class="search-container">
        <input type="text" id="search" placeholder="Pesquise por nome, CPF ou telefone" oninput="filterTable()">
    </div>

    <h2>Dados do Paciente</h2>
    <table id="patientsTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Gênero</th>
            <th>Data de Nascimento</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>CEP</th>
            <th>Número da Casa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paciente : ${dentist}">
            <td th:text="${paciente.id}"></td>
            <td th:text="${paciente.name}"></td>
            <td th:text="${paciente.cpf}"></td>
            <td th:text="${paciente.gender}"></td>
            <td th:text="${paciente.dateOfBirth}"></td>
            <td th:text="${paciente.telephone}"></td>
            <td th:text="${paciente.email}"></td>
            <td th:text="${paciente.address}"></td>
            <td th:text="${paciente.cep}"></td>
            <td th:text="${paciente.houseNumber}"></td>
        </tr>
        </tbody>
    </table>
    <style>
        .back-button {
            display: inline-block;
            text-align: center;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-top: 20px;
            width: 100%;
        }

    </style>
    <a href="javascript:history.back()" class="back-button">Voltar</a>
</div>

<script src="./../../../src/js/history.js"></script>
</body>
</html>
