<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultar Consultas</title>
    <link rel="stylesheet" href="./../../../src/style/message.css">
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/consult/consult.css">
</head>
<body>


<div th:if="${message}" class="errorMessage" role="alert">
    <p th:text="${message}"></p>
    <button class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
</div>
<div th:if="${messageSucess}" class="sucessMessage" role="alert">
    <p th:text="${messageSucess}"></p>
    <button class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
</div>

<main>
    <h1>Registrar Consultas</h1>

    <form action="/dentist/consult/add" method="post">

        <div>
            <label for="consultDate">Data e Hora da Consulta:</label>
            <input type="datetime-local" id="consultDate" name="consultDate" required>
        </div>
        <div  style="display: none" >
            <label for="patient">Paciente:</label>
            <select id="patient" name="patientsDto.id" required>
                <option selected th:each="patient : ${patients}"
                        th:value="${patient.id}"
                        th:text="${patient.name}"></option>
            </select>
        </div>
        <div th:if="${clientAuthentication != null}">
            <label for="dentist">Dentista:</label>
            <select id="dentist" name="dentist" required>
                <option value="" disabled selected>Selecione o dentista</option>
                <option th:each="dentist : ${dentists}"
                        th:value="${dentist.id}" th:text="${dentist.name}"></option>
            </select>
        </div>

        <div th:if="${dentistAuthentication != null}"  style="display: none">
            <select  name="dentist" required>
            <option selected th:each="dentist : ${dentists}"
                    th:value="${dentist.id}" th:text="${dentist.name}"></option>
        </select>
        </div>


        <button type="submit">Consultar Consultas</button>
    </form>

    <div th:if="${consults != null}">
        <h2>Consultas Encontradas</h2>
        <table>
            <thead>
            <tr>
                <th>Paciente</th>
                <th>CPF do Paciente</th>
                <th>Dentista</th>
                <th>CPF do Dentista</th>
                <th>Data da Consulta</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="consult : ${consults}">
                <td th:text="${consult.patientName}"></td>
                <td th:text="${consult.patientCpf}"></td>
                <td th:text="${consult.dentistName}"></td>
                <td th:text="${consult.dentistCpf}"></td>
                <td th:text="${consult.consultDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
        <style>
            .back-button {
                display: inline-block;
                text-align: center;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                background-color: #007BFF;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                margin-top: 20px;
                width: 100%;
            }

        </style>
        <a href="javascript:history.back()" class="back-button">Voltar</a>
</main>

</body>
</html>
