<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultas Marcadas</title>
    <link rel="stylesheet" href="./../../../src/style/reset.css">
    <link rel="stylesheet" href="./../../../src/style/consult/viwconsult.css">
</head>
<body>

<header>
    <h1>Consultas Marcadas</h1>
</header>

<main>
    <section>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>CPF do Paciente</th>
                <th>Dentista</th>
                <th>CPF do Dentista</th>
                <th>Data da Consulta</th>
            </tr>
            </thead>
            <tbody id="consultsTable">
            <tr th:each="consult : ${consults}">
                <td th:text="${consult.id}"></td>
                <td th:text="${consult.patientName}"></td>
                <td th:text="${consult.patientCpf}"></td>
                <td th:text="${consult.dentistName}"></td>
                <td th:text="${consult.dentistCpf}"></td>
                <td th:text="${#temporals.format(consult.consultDate, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>

        </table>
        <style>
            .back-button {
                display: inline-block;
                text-align: center;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                background-color: #007BFF;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                margin-top: 20px;
                width: 100%;
            }

        </style>
        <a href="javascript:history.back()" class="back-button">Voltar</a>
    </section>
</main>
<footer>
    <p>© 2024 - Sistema SysOdontologico</p>
</footer>

<script src="../../../src/js/viwconsult.js">
</script>
</body>
</html>
